jupyter
scikit-learn
matplotlib
pandas
seaborn
dabl
scrapy
beautifulsoup4
lxml
fake-useragent
selenium

python-dotenv
pydantic
pydantic-settings
aioch
aiohttp
tenacity
loguru
motor

flet

natasha
nltk
corus
sklearn-crfsuite
